* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.box {
    background: red;
    width: 1000px;
    height: 600px;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}