/*div, input, button {*/
    /*transition: all .6s;*/
/*}*/

.heading {
    font-family: rust, sans-serif;
    font-size: 56px;
}

.container-wide {
    padding: 50px 0 50px 0;
}

a {
    border: none !important;
}
.arrow:after {
    content: '\25b2';
    font-size: 8px;
}
.arrow.reverse:after {
    content: '\25bc';
}

.form-inline {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .table-zoom {
        zoom: .65;
        transition: all .6s;
    }
}

@media screen and (max-width: 991px) {
    .btn-warning {
        margin-top: 10px;
    }
}