* {
    margin: 0;
    padding: 0;
}
table {
    margin: 60px auto;
}
td {
    background: gray;
    border: 5px solid black;
    height: 60px;
    width: 70px;
}
td:nth-child(6), td:nth-child(7) {
    width: 90px;
}
.row2 {
    height: 140px;
}
.row3 > td:last-child {
    height: 140px;
}
.narrow {
    height: 40px;
}
