<div class="cart-bg">
    <p class="form-bg-text fresh-bg-text">
        КОРЗИНА<span>
     </p>
 </div>
 <div class="container">
     <div class="row">
         <div class="col-md-8">
             <table>
                 <tr>
                     <td class="table__cell">№</td>
                     <td class="table__cell">Наименование</td>
                     <td class="table__cell">Цена</td>
                 </tr>
                 <tr>
                     <td class="table__cell">1</td>
                     <td class="table__cell">Выпуск №4 от 25.02.2015г.</td>
                     <td class="table__cell">30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></td>
                 </tr>
                 <tr>
                     <td class="table__cell">2</td>
                     <td class="table__cell">Выпуск №5 от 25.02.2015г.</td>
                     <td class="table__cell">30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></td>
                 </tr>
                 <tr>
                     <td class="table__cell">3</td>
                     <td class="table__cell">Выпуск №6 от 25.02.2015г.</td>
                     <td class="table__cell">30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></td>
                 </tr>
             </table>
             <button type="" class="btn btn-primary square" style="margin-bottom: 20px">Продолжить покупки</button>
         </div>
         <div class="col-md-4">
             <p class="cart__total">Итого: 90 <i class="fa fa-rub rub__size" aria-hidden="true"></i></p>
             <button type="" class="btn btn-success square" style="margin-bottom: 20px">Оплатить</button>
         </div>
     </div>
 </div>