<div class="person__info">
    <div id="google-map-container"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 contacts__padding">
            <p>Наш адрес:</p>
            <p>г. Ханты-Мансийск, ул. Калинина, 5/1</p>
        </div>
        <div class="col-md-6 contacts__padding">
            <p>Обратная связь:</p>
            <input class="form-control square" type="text" name="name" placeholder="Введите имя"><br>
            <input class="form-control square" type="email" name="email" placeholder="Введите email"><br>
            <textarea class="form-control square" rows="" cols="" placeholder="Введите текст сообщения"></textarea>
            <button type="submit" class="btn btn-default square to-right">Отправить </button>
        </div>
    </div>
</div>