<div class="fresh-bg">
    <p class="form-bg-text fresh-bg-text">
        СВЕЖИЙ ВЫПУСК<span>
     </p>
     <div class="newspaper_image grayscale">
         <img class="grayscale" src="/img/newspaper_image.jpg" alt="">
     </div>
 </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="col-xs-12 fresh__padding">
                <h2>Югорский экспресс</h2>
                <p>Выпуск: №35(752)<br> от 07 сентября 2016 года</p>
            </div>
            <div class="col-xs-12" style="padding-bottom: 60px">
                <p>Объем: 36 листов</p>
                <p>Цена: 30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></p>
                <button class="fresh__first btn btn-success btn-lg square">
                    <i class="fa fa-archive" aria-hidden="true"></i>&nbsp; &nbsp;
                    Архив
                </button>
                <button class="fresh__first btn btn-primary btn-lg square" style="margin-left: 20px">
                    <i class="fa fa-cart-plus cart__size" aria-hidden="true"></i>&nbsp; &nbsp;
                    Купить
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-xs-12 fresh__padding" >
                <div class="empty-box">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aut labore in quis cupiditate repudiandae modi esse non soluta minus fugit obcaecati quam quos corporis laudantium unde natus, quia reprehenderit!                
                </div> 
            </div>
        </div>
    </div>
</div>