<!--<div class="owl-carousel">
    <div>
        <img src="../img/IMG_4146.JPG" alt="Слайд 1">
        <div class="btn__box">
            <button class="btn btn-default btn1">Подать объявление в газету</button><br>
            <button class="btn btn-default btn2">Купить свежий номер</button><br>
            <button class="btn btn-default btn3">Югорский экспресс <i><b class="red">online</b></i></button>
        </div>
    </div>
    <div><img class="bg-photo" src="../img/IMG_4146.JPG" alt="Слайд 1"></div>
</div>-->
<div class="bg-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 buttons-box">
                <div class="col-md-12"><button class="btn btn-default btn1"><img class="btn-image" src="../img/document.png" alt="">Подать объявление в газету</button></div>
                <div class="col-md-12"><button class="btn btn-default btn2"><img class="btn-image" src="../img/newspaper-2.png" alt="">Купить свежий номер</button></div>
                <!--<div class="col-md-12"><button class="btn btn-default btn3">Югорский экспресс <i><b class="red">online</b></i></button></div>-->
                <div class="col-md-12">
                    <button class="btn btn-default btn2">
                        <div class="header__contacts button-contacts">
                            <div class="contacts-box">
                                 <img class="btn-image contacts-image" src="../img/shopping-support.png" alt="">     
                            </div>
                            <div class="contacts-box">
                                <p class="button-contacts-text"> Отдел рекламы:<br> +7 (3467) 000-000</span><br>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>