* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: diablo, sans-serif;
    font-size: 80px;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.prev,
.next {
    width: 35px;
    height: 70px;
    float: left;
}
i {
    color: white;
}
.prev {
    position: absolute;
    top: 250px;
    left: 20px;
    z-index: 2;
}
.next {
    position: absolute;
    top: 250px;
    right: 20px;
    z-index: 2;
}
.burning {
    color: white;         /* A light text makes a nice bright flame source */
    background: black;    /* A dark background gives some contrast */
    letter-spacing: 20px;  /* Big text shows off the effect best */
    font-weight: bold;
}
.wrapper {
    width: 500px;
    margin: 20px auto;
}
.selectric {
    margin-right: 30px;
    background: black;
    color: gold;
    font-family: diablo, sans-serif;
}
