* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: diablo, sans-serif;
    font-size: 80px;
}
i {
    color: white;
}
/* BURNING TEXT */
.burning {
    color: white;         /* A light text makes a nice bright flame source */
    background: black;    /* A dark background gives some contrast */
    letter-spacing: 20px;  /* Big text shows off the effect best */
    font-weight: bold;
}
.wrapper {
    width: 430px;
    margin: 20px auto;
}
/* SELECT */
.selectric {
    font-family: diablo, sans-serif;
}

/* MENU */
.menu {
    display: table-row;
}
.menu-item {
    width: auto;
    display: table-cell;
    text-align: center;
    list-style-type: none;
    padding-left: 2px;
    vertical-align: bottom;
    padding-top: 5px;
}
.menu-link {
    position: relative;
    display: table-cell;
    width: 1000px;
    height: 50px;
    vertical-align: middle;
    color: red;
    font-size: 25px;
    text-transform: uppercase;
    font-family: diablo, sans-serif;
}
.menu-link:hover {
    text-decoration: none;
    color: gold;
    transition: all .6s;
}

/* SUB-MENU */
.sub-menu {
    z-index: 10;
    position: absolute;
    width: 25%;
}
.sub-menu-item {
    list-style: none;
}
.sub-menu-link {
    display: block;
    font-family: diablo, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    background: black;
}
.sub-menu-link:hover {
    text-decoration: none;
    color: darkred;
    transition: all .3s;
}
.sub-menu-link-angel:hover {
    text-decoration: none;
    color: deepskyblue;
    transition: all .3s;
}
/* TYRAEL MENU */
.tyrael {
    position: relative;
}
.tyrael-menu{
    position: absolute;
    width: 250px;
    left: 100%;
    top: 0;
}
.tyrael-item {
    list-style: none;
}
.tyrael-link{
    display: block;
    font-family: diablo, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    background: black;
}
.tyrael-link:hover {
    text-decoration: none;
    color: green;
    transition: all .6s;
}
/* OWL-DOTS FIX*/
.owl-theme .owl-controls{
    margin-top:10px;
    text-align:center;
    -webkit-tap-highlight-color:transparent
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
    color:#fff;
    font-size:14px;
    margin:5px;
    padding:4px 7px;
    background:#d6d6d6;
    display:inline-block;
    cursor:pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
    background:#869791;
    color:#fff;
    text-decoration:none
}
.owl-theme .owl-controls .owl-nav .disabled{
    opacity:.5;
    cursor:default
}
.owl-theme .owl-dots .owl-dot{
    display:inline-block;
    zoom:1;
    *display:inline;
    margin: 20px auto;
}
.owl-theme .owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:5px 7px;
    background:#d6d6d6;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
    background:#869791
}
.owl-dots {
    text-align: center;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel {
    position: relative;
}

/* CHECKBOX */
.checkbox-form {
    width: 360px;
    margin: 0 auto;
}
.prettycheckbox label{
    font-family: diablo, sans-serif;
    color: darkred;
    text-transform: uppercase;
    font-size: 16px;
}
.css-checkbox-form {
    width: 370px;
    margin: 0 auto;
}
.css-checkbox {
    color: green;
    width: 20px;
    font-size: 50px;
}
.css-label {
    color: deepskyblue;
    font-family: diablo, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

/* FIRE */
h1 {
    background-color: rgba(256,256,256,.03);
    /*background-image: -webkit-linear-gradient(top, #111, #0c0c0c);*/
    /*background-image: -moz-linear-gradient(top, #111, #0c0c0c);*/
    /*background-image: -ms-linear-gradient(top, #111, #0c0c0c);*/
    /*background-image: -o-linear-gradient(top, #111, #0c0c0c);*/
    font-size: 2em;
    font-family: 'Amethysta', serif;
    text-align: center;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: .3em;
    white-space:nowrap;
    margin-top: 70px;
    margin-bottom: 50px;
}

span {
    color: #000;
    font-family: diablo, cursive;
    font-size: 5em;
    text-transform: lowercase;
    vertical-align: middle;
    letter-spacing: .2em;
}

.fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-moz-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-webkit-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-o-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

body, a {
    cursor: url(../img/CR_Cursor%20copy.png), default;
}