* {
    margin: 0;
    padding: 0;
}

/** WIDESCREEN DESCTOP (769px - 960px - >> ++) Макет 960 **/

.wrapper {
    max-width: 960px;
    height: 190px;
    margin: 0 auto;
    z-index: 1;
}
.bg-container {
    width: 100%;
    height: 846px;
    background: url(../img/bg.jpg) no-repeat center top;
}
/** LOGO **/
.logo {
    float: left;
    padding: 50px 0 0 10px;
    width: 168px;
    height: 6%;
}
.wrapper--logo {
    width: 160px;
    height: 50px;
}
.pingbull {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    -moz-text-shadow: 0 2px 10px rgba(0,0,0,0.75);
    text-shadow: 0 2px 10px rgba(0,0,0,0.75);
}
.er {
    background: -webkit-linear-gradient(top, rgba(113,78,127,1) 0%, rgba(88,62,99,1) 54%, rgba(55,40,62,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
/** MENU **/
.menu {
    float: right;
    padding: 60px 0 0 0;
    width: 75%;
    height: 8%;
}
.menu__item {
    list-style: none;
    display: inline-block;
}
.menu__link {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px 0 10px;
    margin-left: 10px;
    -moz-text-shadow: 0 2px 10px rgba(0,0,0,0.75);
    text-shadow: 0 2px 10px rgba(0,0,0,0.75);
}
.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}
.menu--vertical {
    display: none;
}

/** SLIDER **/
.slider--wrapper {
    height: 400px;
    z-index: 1;
}
/*.slider--wrapper::before {*/
    /*content: url(../img/arrow_left.png);*/
    /*position: absolute;*/
    /*top: 174px;*/
    /*left: -60px;*/
/*}*/
/*.slider--wrapper::after {*/
    /*content: url(../img/arrow_right.png);*/
    /*position: absolute;*/
    /*top: 174px;*/
    /*right: -60px;*/
/*}*/
.slider {
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, .3);
    margin-top: 50px;
    z-index: 1;
}
.slider__article {
    float: left;
    width: 55%;
    height: 333px;
    padding: 67px 0 0 0;
    overflow: hidden;
    z-index: 1;
}
.slider__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 60px;
    color: #fff;
    z-index: 1;
    padding: 0 0 0 28px;
}
.slider__subheading {
    font-family: "League Gothic Regular", sans-serif;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 32px;
    color: #edbfff;
    z-index: 1;
    padding: 0 0 0 28px;
}
.slider--cell {
    width: 89%;
    overflow: hidden;
    padding: 10px 20px 0 28px;
    height: 148px;
    word-wrap: break-word;
}
.slider__text {
    font-family: "Open Sans Light", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    word-wrap: break-word;
}
.slider__imagebox {
    position: relative;
    float: right;
    width: 45%;
    height: 400px;
    /*background: url("../img/iPhone%204.png") no-repeat 0 0;*/
    z-index: 1;
}
.slider__image {
    position: absolute;
    top: -15px;
    left: 68px;
}
/** CONTENT **/
.content {
    width: 100%;
    height: 340px;
    background: -webkit-linear-gradient(top, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
    background: -moz-linear-gradient(top, rgba(93,65,105,1) 25%, rgba(82,58,93,1) 51%, rgba(68,49,77,1) 76%, rgba(51,38,58,1) 100%);
}
.text--wrapper {
    height: 340px;
}
.text__box {
    position: relative;
    display: inline-block;
    width: 29%;
    height: 62%;
    /*padding: 67px 13px 0 15px;*/
    padding: 6% 1% 0 1%;
}
.text__heading {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-left: 27px;
}
.text {
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}
.text__link {
    font-family: "League Gothic Regular", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.link__paragraph {
    text-align: right;
    padding-top: 10px;
}
.link__paragraph .text__link:hover {
    -webkit-text-shadow: 0 0 5px rgba(255,255,255,1);
    -moz-text-shadow: 0 0 5px rgba(255,255,255,1);
    text-shadow: 0 0 5px rgba(255,255,255,1);
}
.text__img {
    position: absolute;
    top: 22%;
    left: 0;
}
.text__cell {
    width: 100%;
    height: 113px;
    overflow: hidden;
    padding: 10px 20px 0 28px;
}

/** CONTENT-TWO **/
.content--two {
    height: 486px;
    background: #f9f9f9;
}
.updates--wrapper {
    height: 486px;
}
/** STARTS HERE **/
.text__box--starts-here {
    float: left;
    width: 49%;
    padding: 100px 0 0 15px;
}
.text__container {
    height: 330px;
    padding-right: 30px;
}
.text__message {
    background:  #ffffff;
    max-width: 370px;
    height: 202px;
    position: relative;
    padding: 30px 30px 40px 30px;
    -webkit-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
    box-shadow: 0 4px 6px -6px rgba(0,0,0,0.75);
}
.photo {
    position: absolute;
    background: url("../img/sprites.png") no-repeat 0 0;
    width: 49px;
    height: 50px;
    top: 24px;
    left: -26px;
}
.text__heading--starts-here {
    margin-left: 16px;
}
.text__heading--black {
    color: black;
    margin-left: 0;
}
.text__heading--pink {
    color: #edbfff;
    margin-left: 0;
}
.text--black {
    color: black;
}
.text__cell--starts-here {
    width: 96%;
    height: 155px;
    padding: 10px 11px 0 14px;
}
.text__message::after {
    position: absolute;
    content: url("../img/corner.png");
    top: 271px;
    right: 20px;
    width: 40px;
    height: 40px;
}
.radio_group {
    max-width: 370px;
    margin: 0 auto;
    height: 30px;
}
.radio_group--box {
    width: 100%;
    height: 30px;
    background: url("../img/Navigation%20copy.png") no-repeat center;
    padding-top: 45px;
}

/** RECENT UPDATES **/
.recent-updates {
    float: left;
    width: 48%;
    padding: 131px 0 0 7px;
}
.inform-block {
    width: 100%;
    height: 60px;
    padding-top: 10px;
}
.inform-block__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.inform-block__image-box {
    float: left;
    width: 49px;
    height: 50px;
}
.inform-block__text-box {
    float: right;
    width: 85%;
    height: 60px;
}
.inform-block__image--one {
    background: url("../img/sprites.png") no-repeat -48px 0;
}
.inform-block__image--two {
    background: url("../img/sprites.png") no-repeat -96px 0;
}
.inform-block__image--three {
    background: url("../img/sprites.png") no-repeat -144px 0;
}
.text__link--black {
    color: #454545
}
.recent-updates__footer {
    width: 100%;
    height: 20px;
}

/** ---------------------------------------------------------------------------- **/

/** DESCTOP AND TABLETS (481px - 768px) Макет 768 **/
@media screen and (max-width: 768px) {
    .bg-container {
        height: 800px;
    }
    .logo {
        padding: 50px 0 0 20px;
    }
    .menu {
        clear: left;
        float: left;
        width: 100%;
        padding-top: 60px;
    }
    .menu__item {
        margin-left: 1%;
    }
    .menu__link {
        padding: 7px 5px 0 5px;
    }
}

/** ---------------------------------------------------------------------------- **/

/** MOBILE (321px - 480px) Макет 480 **/
@media screen and (max-width: 480px) {
    .bg-container {
        height: 550px;
    }
    .content {
        height: 596px;
    }
    .logo {
        padding: 50px 0 0 0;
        width: 100%;
    }
    .wrapper--logo {
        margin: 0 auto;
    }
    .menu {
        display: none;
    }
    .slider {
        z-index: 1;
    }

    /** MENU-VERTICAL **/
    nav {
        padding-top: 100px;
    }
    .menu--vertical {
        position: relative;
        display: block;
        width: 245px; /** change to static value px **/
        margin: 0 auto;
        padding-top: 10px;
        z-index: 10;
    }
    .menu__item--vertical {
        display: block;
        background: rgba(63, 51, 72, .7);
        /*border-bottom: 1px solid #36283e;*/
        /*border-top: 1px solid #523e5a;*/
        z-index: 10;
        box-sizing: border-box;
    }
    .menu__link--vertical {
        display: block;
        padding: 5px 0 2px 0;
        text-align: center;
        text-shadow: none;
        margin-left: 0;
        z-index: 10;
    }
    .menu__link--vertical:hover {
        border-bottom: 2px solid #edbfff;
        padding: 5px 0 0 0;
    }
    .menu__item--vertical:first-child {
        background: none;
        border: none;
    }
    .menu__item--vertical:first-child:hover {
        -moz-border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }
    .menu__item--vertical:last-child {
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }
    .menu__item--vertical:hover .menu__link--vertical {
        background: rgba(43, 34, 49, .7);
    }
    .menu__item--vertical:hover:first-child .menu__link--vertical {
        -moz-border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }
    .menu__item--vertical:hover:last-child .menu__link--vertical {
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
    }
    .menu__item--vertical:not(:first-child) {
        display: none;
    }
    .menu--vertical:hover .invisible {
        display: block;
    }
    .menu--vertical:hover .visible {
        -moz-border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        background: rgba(63, 51, 72, .7);
    }
    .menu--vertical:hover .menu__item--vertical {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .menu--vertical:hover .visible {
        border-top: 1px solid black;
        border-radius: 10px 10px 0 0;
    }
    .menu--vertical:hover .menu__item--vertical:last-child {
        border-bottom: 1px solid black;
        border-radius: 0 0 10px 10px;
    }
    .menu--vertical:hover .invisible {
        border-top: 1px solid #523e5a;
    }
    .menu--vertical:hover .menu__item--vertical {
        border-bottom: 1px solid #36283e;
    }
    /*.menu__link--vertical p {*/
        /*display: inline;*/
        /*border-bottom: 2px solid #edbfff;*/
    /*}*/
    /*.menu__link--vertical:first-child {*/
        /*padding-bottom: 5px;*/
    /*}*/
    /*.menu__link--vertical:not(:first-child){*/
        /*padding-bottom: 0;*/
    /*}*/

    /** CONTENT **/
    .text__box {
        width: 98%;
        position: relative;
        display: inline-block;
        height: 50%;
        /*padding: 67px 13px 0 15px;*/
        padding: 6% 1% 0 1%;
    }
    .text__cell {
        width: 88%;
        /*max-width: 230px;*/
        height: 63px;
        overflow: hidden;
        padding: 6px 14px 0 46px;
    }
    .text__img {
        position: absolute;
        top: 16%;
        left: 2%;
    }
    .text__heading {
        font-family: "League Gothic Regular", sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        font-weight: lighter;
        margin-left: 46px;
    }
    .link__paragraph .text__link {
        margin-right: 5%;
    }
    .content--two {
        height: 786px;
        background: #f9f9f9;;
    }
    /** MENU-VERTICAL **/
    .menu-vertical {
        display: block;
    }
}

/** ---------------------------------------------------------------------------- **/

/** IPHONE 3 (1 - 320px) Макет 320 **/
@media screen and (max-width: 320px) {
    .bg-container {
        width: 100%;
        height: 516px;
    }
    .content {
        width: 596px;
    }
}