<div class="archive-bg">
    <p class="form-bg-text fresh-bg-text">
        АРХИВ<span>
     </p>
     <!--<div class="newspaper_image grayscale">
         <img class="grayscale" src="/img/newspaper_image.jpg" alt="">
     </div>-->
 </div>
 <div class="container">
     <div class="row">
         <div class="col-md-12" style="text-align: right">
             <a class="archive_year" href="">2016</a>
             <a class="archive_year" href="">2015</a>
             <a class="archive_year" href="">2014</a>
             <a class="archive_year" href="">2013</a>
             <a class="archive_year" href="">2012</a>
         </div>
         <div class="col-md-12" style="padding-bottom: 50px">
             <div class="col-md-2">
                 <p class="archive_month"><a href="">Январь</a></p>
                 <p class="archive_month"><a href="">Февраль</a></p>
                 <p class="archive_month"><a href="">Март</a></p>
                 <p class="archive_month"><a href="">Апрель</a></p>
                 <p class="archive_month"><a href="">Май</a></p>
                 <p class="archive_month"><a href="">Июнь</a></p>
                 <p class="archive_month"><a href="">Июль</a></p>
                 <p class="archive_month"><a href="">Август</a></p>
                 <p class="archive_month"><a href="">Сентябрь</a></p>
                 <p class="archive_month"><a href="">Октябрь</a></p>
                 <p class="archive_month"><a href="">Ноябрь</a></p>
                 <p class="archive_month"><a href="">Декабрь</a></p>
             </div>
             <div class="col-md-10">
                <div class="col-md-6">
                    <div class="archive_image grayscale">
                        <img class="archive_newspaper grayscale" src="/img/newspaper_image.jpg" alt="">
                    </div>
                    <div class="archive__text">
                        <p>№2 от 12 октября 2015 года</p>
                        <span>Цена: 30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></span>
                        <button class="btn btn-primary square" style="margin-left: 20px">Купить
                            <i class="fa fa-cart-plus cart__size" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="archive_image grayscale">
                        <img class="archive_newspaper grayscale" src="/img/newspaper_image.jpg" alt="">
                    </div>
                    <div class="archive__text">
                        <p>№2 от 12 октября 2015 года</p>
                        <span>Цена: 30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></span>
                        <button class="btn btn-primary square" style="margin-left: 20px">Купить
                            <i class="fa fa-cart-plus cart__size" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="archive_image grayscale">
                        <img class="archive_newspaper grayscale" src="/img/newspaper_image.jpg" alt="">
                    </div>
                    <div class="archive__text">
                        <p>№2 от 12 октября 2015 года</p>
                        <span>Цена: 30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></span>
                        <button class="btn btn-primary square" style="margin-left: 20px">Купить
                            <i class="fa fa-cart-plus cart__size" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="archive_image grayscale">
                        <img class="archive_newspaper grayscale" src="/img/newspaper_image.jpg" alt="">
                    </div>
                    <div class="archive__text">
                        <p>№2 от 12 октября 2015 года</p>
                        <span>Цена: 30 <i class="fa fa-rub rub__size" aria-hidden="true"></i></span>
                        <button class="btn btn-primary square" style="margin-left: 20px">Купить
                            <i class="fa fa-cart-plus cart__size" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </div>