<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="person__data">
                <p>Иванов Иван</p>
                <p>test@mail.ru</p>
            </div>
        </div>
        <div class="col-md-12">
            <h3>Купленные газеты</h3>
            <table>
                <tr>
                    <td class="table__cell cell__small">№</td>
                    <td class="table__cell cell__small">Дата</td>
                    <td class="table__cell">Содержимое</td>
                    <td class="table__cell cell__small">Цена</td>
                </tr>
                <tr>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                </tr>
            </table>
        </div>
        <div class="pagination">
            <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="" class="pag__number">1</a>
            <a href="" class="pag__number pag__active">2</a>
            <a href="" class="pag__number">3</a>
            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-12">
            <h3>Поданые объявления</h3>
            <table>
                <tr>
                    <td class="table__cell cell__small">№</td>
                    <td class="table__cell cell__small">Дата</td>
                    <td class="table__cell">Объявление</td>
                    <td class="table__cell cell__small">Стоимость</td>
                </tr>
                <tr>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                    <td class="table__cell">some text</td>
                </tr>
            </table>
             <div class="pagination">
            <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="" class="pag__number">1</a>
            <a href="" class="pag__number pag__active">2</a>
            <a href="" class="pag__number">3</a>
            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        </div>
    </div>
</div>
